
ng-container {
    display: inline-block;
    margin: 10px;
}

.available {
    display: inline-block;
    margin: 5px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
